# Dependencies
node_modules/

# Build in v1 this is checked in. This is temporary
# for testing. We need to commit dist, but don't want to do it
# for main.
# dist/

# Testing
coverage/

# Misc
.DS_Store
Thumbs.db
*.log
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp
*.tmp

# PR Message
PR_MESSAGE.md
